::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d7d7d7, #505050);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
}

@import "tailwindcss";